.idea
*.iml
*.class
target
*/target
*.DS_Store
.classpath
*/.classpath
.project
*/.project
.settings
*.orig
*/.settings
ebay.log
*/cobertura.ser
*/bin
*dependency-reduced-pom.xml
*generated*
*__Test*
*.log
*/.buildpath
